.header
  position: relative
  background: $white
  &-top
    padding: 10px 0
    position: relative
    &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background: $black
      opacity: 0.1
    &__right
      display: flex
      align-items: center
      & > div
        margin-right: 40px
        +media-breakpoint-down(lg)
          margin-right: 30px
        &:last-child
          margin-right: 0
      .working-time
        margin-right: 43px
        +media-breakpoint-down(lg)
          margin-right: 30px
        +media-breakpoint-down(sm)
          display: none
      .callphone
        +media-breakpoint-down(sm)
          display: none
      .switch-lang
        +media-breakpoint-down(md)
          display: none
      .login
        margin-right: 0
        +media-breakpoint-down(md)
          display: none
  &-bottom
    position: relative
    z-index: 2
    +media-breakpoint-down(md)
      display: none
    .logotype-icon
      margin-right: 20px
      opacity: 0
      visibility: hidden
      display: none
      +media-breakpoint-down(lg)
        margin-right: 10px

// logotype
.logotype
  display: block
  img
    max-width: 180px
    height: auto
    +media-breakpoint-down(lg)
      max-width: 140px
    +media-breakpoint-down(md)
      max-width: 120px
// logotype-icon
.logotype-icon
  display: flex
  align-items: center
  transition: $trs
  img
    max-width: 46px
    height: auto
// working-time
.working-time
  position: relative
  font-size: 14px
  line-height: 21px
  +media-breakpoint-down(lg)
    font-size: 12px
    line-height: 18px
  &__title
    font-weight: 700
// callphone
.callphone
  display: flex
  align-items: center
  a
    display: inline-block
    margin-left: 10px
    font-weight: 700
    font-size: 20px
    color: $black
    +media-breakpoint-down(lg)
      font-size: 18px
      margin-left: 8px
    &:hover
      text-decoration: none
// switch-lang
.switch-lang
  position: relative
  border: 1px solid $grey5
  display: flex
  align-items: center
  border-radius: 20px
  overflow: hidden
  &__item
    display: block
    text-align: center
    padding: 10px 7px 10px 14px
    flex: 1
    color: $grey3
    font-size: 14px
    font-weight: 500
    line-height: 16px
    +media-breakpoint-down(lg)
      font-size: 12px
      line-height: 14px
    &.active
      color: $black
    &:not(:first-child)
      padding: 10px 14px 10px 7px
    &:hover
      text-decoration: none
    &:hover:not(.active)
      color: $grey3
// login
.login
  &__link
    display: inline-block
    margin-left: 6px
    color: $black
    line-height: 18px
    font-size: 15px
    font-weight: 500
    +media-breakpoint-down(lg)
      font-size: 13px
    &:hover
      text-decoration: none
      color: $black
// hamburger
.hamburger
  padding: 7.5px 3.75px
  align-items: center
  display: none
  +media-breakpoint-down(md)
    display: flex
  &-box
    width: 30px
  &-inner
    width: 30px
    height: 3px
    &::after
      width: 30px
      bottom: -8px
      height: 3px
    &::before
      width: 30px
      top: -8px
      height: 3px
  &.is-active
    .hamburger-inner
      &::before
        top: -10px
      &::after
        bottom: -10px

// main-nav
.main-nav
  display: flex
  margin: 0
  padding: 0
  list-style: none
  &__item
    margin: 0 15px
    +media-breakpoint-down(lg)
      margin: 0 9px
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
    &.grey
      .main-nav__link
        color: $grey3
    &.active
      .main-nav__link
        color: $red
      .sub-menu
        opacity: 1
        visibility: visible
  &__link
    display: inline-block
    padding: 20px 0
    font-size: 15px
    color: $black
    position: relative
    +media-breakpoint-down(lg)
      font-size: 13px
      padding: 15px 0
    &:hover
      color: $red
      text-decoration: none
    &.active
      color: $red
      & + .sub-menu
        opacity: 1
        visibility: visible

// sub-menu
.sub-menu
  position: absolute
  top: 100%
  left: 0
  width: 100%
  height: auto
  margin: 0
  padding: 0
  list-style: none
  background: $grey6
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.1)
  opacity: 0
  visibility: hidden
  transition: .2s ease
  &.active
    opacity: 1
    visibility: visible
  &__item
    margin: 0 15px
    +media-breakpoint-down(lg)
      margin: 0 10px
    &:first-child
      margin-left: 0
  &__link
    display: inline-block
    padding: 12px 0
    font-size: 14px
    color: $black
    position: relative
    +media-breakpoint-down(lg)
      font-size: 13px
      padding: 10px 0
    &:hover
      color: $red
      text-decoration: none
    &.active
      color: $red
      &::after
        transform: scale(1)
    &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 3px
      background: $red
      border-radius: 2px 2px 0px 0px
      transform: scale(0)
      transition: $trs

// mobile-menu
.mobile-menu
  display: none
  overflow: auto
  white-space: nowrap
  padding-right: calc(100% - 500px)!important
  +media-breakpoint-down(sm)
    padding-right: calc(100% - 300px)!important
  +media-breakpoint-down(xs)
    padding-right: calc(100% - 100px)!important
  &__wrapper
    position: relative
    font-size: 0
    display: flex
    align-items: center
  &__item
    display: inline-block
    position: relative
    background: rgba(238, 238, 238, 0.7)
    border-radius: 20px
    padding: 6px 18px
    color: $grey
    font-size: 15px
    line-height: 21px
    text-align: center
    margin: 0 5px 0 0
    +media-breakpoint-down(sm)
      font-size: 14px
    &:hover
      text-decoration: none
      color: $grey
    &.active
      background: rgba(226, 6, 19, 0.08)
      color: $red

// .sm-device-btn
.sm-device-btn
  display: none
  width: 45px
  height: 60px
  border: none
  background: transparent
  border-right: 1px solid $grey4
  text-align: left
  +media-breakpoint-down(md)
    display: block
  svg
    position: relative
    left: -10px
    +media-breakpoint-down(xs)
      left: -5px
